// sass-lint:disable-all 
//SVG로 사용하는 아이콘들을 폰트화 시켜서 i라는 태그로 쉽게 가져올 수 있는 작업을 하단에 진행, 폰트처럼 스타일링 적용 가능

@font-face {
  font-family: 'sweet-home';
  src:  url('./assets/fonts/sweet-home.eot');
  src:  url('./assets/fonts/sweet-home.eot#iefix') format('embedded-opentype'),
    url('./assets/fonts/sweet-home.ttf') format('truetype'),
    url('./assets/fonts/sweet-home.woff') format('woff'),
    url('./assets/fonts/sweet-home.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sweet-home' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-bell:before {
  content: "\e900";
}
.ic-bookmark:before {
  content: "\e901";
}
.ic-bookmark-filled:before {
  content: "\e902";
}
.ic-caret:before {
  content: "\e903";
}
.ic-cart:before {
  content: "\e904";
}
.ic-check:before {
  content: "\e905";
}
.ic-chevron:before {
  content: "\e906";
}
.ic-close:before {
  content: "\e907";
}
.ic-community:before {
  content: "\e908";
}
.ic-expert:before {
  content: "\e909";
}
.ic-lock:before {
  content: "\e90a";
}
.ic-menu:before {
  content: "\e90b";
}
.ic-new:before {
  content: "\e90c";
}
.ic-search:before {
  content: "\e90d";
}
.ic-star:before {
  content: "\e90e";
}
.ic-store:before {
  content: "\e90f";
}