// 모든 반은형은 mb first

/*
* MOBILE ( <768px ) ----------------------------------------------------
* fixture ------------------------- sm
* # of colums --------------------- 4
* unit ----------------------------(100% - 10)px/4 - 20px
* gutter --------------------------- 20px
* margin --------------------------- 5px
* container(the size which applied to grid system) 100% - (5px *2)
*/

/*
* TABLET( <1200px ) -----------------------------------------------------
* fixture ------------------------- md
* # of colums --------------------- 12
* unit ----------------------------(100% - 30px) /12 - 20px
* gutter --------------------------- 20px
* margin --------------------------- 30px
* container(the size which applied to grid system) 100% - (30px *2)
* max-container-size---------------- 960px
*/

/*
* TABLET(  >= 1200px ) ---------------------------------------------------
* fixture ------------------------- lg
* # of colums --------------------- 12
* unit ----------------------------- 75px
* gutter --------------------------- 20px
* margin --------------------------- auto
* container(the size which applied to grid system) 1140px
* max-container-size---------------- 1140px
*/

$gutter:20px;

$sm-columns:4;
$sm-margin:5px;

$md-columns:12;
$md-margin:30px;
$md-max-container:960px + $md-margin * 2;

$lg-columns:12;
$lg-unit:75px;
$lg-max-container:(75px + $gutter) * $lg-columns; 



.container {
  width:100%;
  padding: 0 $sm-margin;
  margin: 0 auto;  

  .row {
    display: flex;
    flex-wrap: wrap;
    }
}


[class^='col-'] {
  padding: 0 $gutter / 2;
}

@for $i from 1 through $sm-columns {
  .col-sm-#{$i} {
    width: percentage($i / $sm-columns);
  }
}

@include responsive(T) {
  .container {
    max-width: $md-max-container;
    padding: 0 $md-margin;
  }
  @for $i from 1 through $md-columns {
    .col-md-#{$i} {
      width: percentage($i / $md-columns);
    }
  }
}


@include responsive(D) {
  .container {
    max-width: $lg-max-container;
    padding: 0;
  }
  @for $i from 1 through $lg-columns {
    .col-lg-#{$i} {
      width: ($lg-unit + $gutter) * $i;
    }
  }
}


